 

/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width:1199px){ 
    .logos img {
        max-width: 200px;
    }
    
    .nav-items ul {
        gap: 12px;
    }
    
    a.chat-btn {
        margin-left: 0;
    }
    
    .nav-items ul li a {
        font-size: 16px;
    }
    
    h1 {
        font-size: 53px;
    }
    
    .banner-content p {
        font-size: 36px;
        padding-bottom: 0px;
    }
    
    header a.chat-btn {
        font-size: 15px !important;
        padding: 12px 30px;
    }
    
    h2 {
        font-size: 34px;
    }
    
    .store-assist-right p {
        font-size: 20px;
    }
    
    p {
        font-size: 20px;
    }
    
    .profite-content ul li {
        font-size: 20px;
    }
    
    .result-card h3 {
        font-size: 37px;
    }
    
    .golocal-content {
        padding-left: 0px;
    }
    
    .retailer-content ul li {
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    .retailer-content p:last-child {
        margin: 0;
    }
    
    .testimonial-content h4 {
        font-size: 27px;
    }
    
    .testi-autor h5 {
        font-size: 20px;
    }
    
    .testi-autor {
        max-width: 500px;
    }
    
    img.dreamforce-round-image {
        max-width: 365px;
        height: auto !important;
    }
    
  
    section.cta-area {
        padding: 90px 0px;
    }
    
    .footer-content ul li a {
        font-size: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px){ 
    .nav-items {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: 100%;
        height: 0;
        overflow: hidden;
        opacity: 1;
    }
    
    header {
        position: relative;
    }
    
    .nav-items ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-bottom: 26px;
        background: #fff;
        margin: 0;
    }
    div#humberger {
        position: absolute;
        right: 16px;
        top: 50%;
        width: 32px;
        height: 20px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        cursor: pointer;
    }
    .join-us-inner {
        max-width: 100%;
        padding-right: 0;
    }
    div#humberger span {
        width: 100%;
        display: block;
        height: 3px;
        background: #52a2ff;
    }
    .nav-items.active {
        height: 100%;
        overflow: visible;
        opacity: 1;
        z-index: 99;
        background: #fff;
        padding-top: 18px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    h1 {
        font-size: 50px;
        line-height: 1.1;
    }
    
    .banner-content p {
        font-size: 32px;
    }
    
    .banner-area {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .video-wrap {
        padding: 0;
    }
    .store-assist-right {
        padding: 0;
        padding-top: 24px;
    }
    
    h2 {
        font-size: 38px;
    }
    
    .store-assist-right p {
        font-size: 20px;
    }
    
    p {
        font-size: 20px;
    }
    .golocal-content {
        padding: 0;
    }
    
    .golocal-card {
        height: auto;
        min-height: 130px;
    }
    
    .retailer-content ul li {
        font-size: 20px;
    }
    
    .retailer-content p:last-child {
        margin: 0;
    }
    
    .retailer-content {
        padding: 0;
    }
    
    .testimonial-content h4 {
        font-size: 26px;
    }
    
    .testi-autor h5 {
        font-size: 20px;
    }
    
    .testi-autor {
        max-width: 474px;
    }
    
    section.testimonial-area {
        padding-bottom: 100px;
        padding-top: 80px;
    }
    
    .join-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    
    img.dreamforce-round-image {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    section.cta-area {
    
        padding: 80px 0px;
        margin-top: 0;
    }
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
    section.banner-area {
        padding: 60px 0px;
        background: #0d145c !important;
    }
    
    h1 {
        font-size: 42px;
        line-height: 1.2;
    }
    
    .banner-content p {
        font-size: 32px;
        padding-bottom: 0px;
        line-height: 1.2;
        padding-top: 5px;
    }
    
    h2 {
        line-height: 1.15;
        font-size: 35px;
    }
    
    .section-padding {
        padding: 60px 0px;
    }
    
    .video-area-title {
        padding-bottom: 24px;
    }
    
    .video-content p {
        font-size: 18px;
    }
    
    .video-wrap {
        padding: 0;
    }
    
    .section-padding-top {
        padding-top: 60px;
    }
    
    .store-assist-right {
        padding: 0;
        padding-top: 30px;
    }
    
    .store-assist-right p {
        font-size: 18px;
    }
    
    p {
        font-size: 18px;
    }
    
    .profite-content ul li {
        font-size: 18px;
    }
    
    .profite-img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .golocal-content {
        padding: 0;
        padding-top: 16px;
    }
    
    .section-padding-bottom {
        padding-bottom: 60px;
    }
    
    section.golocal-area {
        margin: 0;
    }
    
    .golocal-card {
        width: 100%;
        height: 230px;
        margin-bottom: 16px;
    }
    
    .retailer-content ul li {
        font-size: 18px;
    }
    
    .retailer-list {
        display: block;
    }
    
    .retailer-content ul li br {
        display: none;
    }
    
    .testimonial-content h4 {
        font-size: 27px;
    }
    
    .testi-autor h5 {
        font-size: 18px;
    }
    
    .testi-autor {
        max-width: 400px;
    }
    
    section.testimonial-area {
        background: #0d145c !important;
        padding: 60px 0px;
    }
      
        .join-wrap {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;
        }
        
        img.dreamforce-round-image {
            max-width: 320px;
            margin: 0 auto;
            margin-bottom: 24px;
        }
    
    section.cta-area {
        padding: 60px 0px;
        margin: 0;
    }
    
    footer {
        padding: 40px 0px;
    }
    
    .footer-content ul li a {
        font-size: 18px;
    }
    
    p.copyright {
        padding-top: 12px;
    }
    #lvideo-wrap .lvideo-close {
        right: 0;
        top: 0;
    }
    fieldset {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .hbspt-form {
        padding: 32px;
        z-index: 9999;
        top: 8px;
        transform: translate(-50%,0);
        height: 100%;
        overflow-y: scroll;
        border-radius: 0px;
    }
    .profite-content {
        padding-right: 0;
    }
    .retailer-content {
        padding-right: 0;
    }
    .resources-card {
        margin-bottom: 40px;
    }
    .join-item p span.gred-line:after {
        bottom: -2px;
    }
    .join-item h4 {
        font-size: 20px;
    }
    .result-notice {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .result-notice p {
       
        font-size: 15px;
       
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 400.98px) { 
    .logos img {
        width: 100%;
        max-width: 220px;
    }
    h2 {
        line-height: 1.15;
        font-size: 32px;
    }
    a.border-btn {
     
        font-size: 20px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575.98px) { 
 
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

    a.chat-btn span {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
}}